body{
    background-color: #d2ffec;
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #3df8aa81;
    border-radius: 10px;
    margin: 30px;
    max-width: 1650px;
    display: flex;
    justify-content: center;
    height: 245px;
}

.contenedor {
    max-width: 1300px;
}

.hipervinculos li a {
    text-decoration: none;
    color: black;
    font-size:27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hipervinculos{
    display: flex;
    margin-top: 3%;
    width: 100%;
    justify-content: space-around;
    list-style: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    max-width: 45%;
    margin-top: 20px;
    border-radius: 25px;
    border-style: solid;
}

h1 {
    text-align: center;
    width: 1200px;
    padding-top: 15px;
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h2 {
    font-size: 250%;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 94%;
}

.nea{
    font-size: 160%;
    width: 70%;
    padding-left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mis{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 160%;
    padding-left: 2%;
    margin: 0%;
}

.fotocont {
    display: flex;
    justify-content: flex-start;
}


.conocimientos2{
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    border-style: solid;
    border-radius: 20px;
    padding-left: 1%;
    margin: 30px;
    max-width: 24%;
    list-style: none;
}

@media only screen and (max-width:1110px){
    .hipervinculos{
        display: block;
        margin-left:200px ;

    }
}